<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<%= link_to 'New Post', new_post_path %>
<table class="table" id= "mytable">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.contents %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= paginate @posts %>

<script>
  $(function(){
    var page_scroll_index = 2;
    $(document).on('scroll', function() {
      console.log("움직인다다다다다")
      
      
      if($(window).scrollTop() >= $(document).height() - $(window).height()){
       $.ajax({
         method: "GET",
         url: "<%= scroll_posts_path%>",
         data:{
         page: page_scroll_index++
         }
       })
      }
    });
    
  });
  // 500 루비 문법 오류 
  // render 까지 되었는데 안되는건 자바스크립트문법
</script>