alert("스크롤무한ㅋㅋㅋㅋㅋ");
 $('#mytable tbody').append(
<% @posts.each do |post| %>
    `
     <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.contents %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    `);
<% end%>